#box-main{

    background-color: rgb(255, 255, 255);
    width: 100%;
    height: auto;
    padding: 0 10% 0 10%;
    
}




/* #main-content{
    width: 100%;
    height: 500px;
    background-color: blue;
} */

#box-main .box-quiz-1{
    /* background-color: blueviolet; */
    width: 100%;
    height: 400px;
    margin-top: 100px;
}

.box-quiz-1 h2,h3{
    text-align: center;
}


.box-quiz-1>h2{

   /*  background-color: antiquewhite; */
    font-family:'M PLUS Rounded 1c', sans-serif;
    font-size: 40px;
}

.box-quiz-1>h3{
    font-size: 22px;
    font-weight: 500;
    /* background-color: rgb(114, 114, 114); */
    font-family:'M PLUS Rounded 1c', sans-serif;
}


.content-quiz-1{
   /*  background-color: rgb(255, 186, 186); */
    width: 100%;
    height: auto;
    margin-top: 40px;
    display: flex;
    justify-content: center;

}



.content-quiz-1>div{
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    width: 270px;
    height: 370px;
    border-radius:10px ;
    box-shadow: 2px 8px 21px rgba(127, 110, 255, 0.307);
}

.content-quiz-1>div:nth-child(2){
    margin: 0 15px 0 15px;
}

.content-quiz-1>div a{
    text-decoration: none;
    font-family:'M PLUS Rounded 1c', sans-serif;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center; /* Căn giữa theo trục ngang */
    text-align: center;
}


.content-quiz-1>div a h3{
    margin: 0;
}

.content-quiz-1>div a p {
    font-family: sans-serif;
    font-size: 14px;
    color: rgb(44, 44, 44);
    margin: 10px;
    
}


.content-quiz-1>div a .cont-img{
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(139, 161, 161); */
}



.content-quiz-1>div a button{
    font-family: sans-serif;
    
    color: rgb(255, 255, 255);
    background-color: rgb(250, 176, 49);
    box-sizing: border-box;
    outline: none;
    border: none;
    padding: 12px 60px 12px 60px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
}

.content-quiz-1>div a button:hover{
    color: rgb(43, 39, 146);
}

.content-quiz-1>div a>p{
   
    text-align: center;
}



#box-banner-1{
    width: 100%;
    height: 250px;
    margin-top: 150px;
    margin-bottom: 50px;
   /* background-color: aquamarine; */

   background-image: url("/assets/images/banner1.png");
   background-size:cover;
   background-position: center; /* Bạn có thể thay đổi giá trị này để canh chỉnh vị trí hình nền theo ý muốn */
   background-repeat: no-repeat;
}




.box-quiz-2{
   /*  background-color: coral; */
    width: 100%;
    height: 480px;
    background-image: url("/assets/images/lession1.jpg");
   background-size:contain;
   background-position: center; /* Bạn có thể thay đổi giá trị này để canh chỉnh vị trí hình nền theo ý muốn */
   background-repeat: no-repeat;
   display: flex; /* Sử dụng Flexbox */
   align-items: center;
   padding: 100px 0 100px 150px;
   font-family:'M PLUS Rounded 1c', sans-serif;
   

}


.content-quiz-2{
    width: 50%;
    height: 100%;
    background-color: rgba(127, 110, 255, 0);
    text-decoration: none;

}

.content-quiz-2 h2{
    color: black;
    font-size: 38px;
}


.content-quiz-2 p{
    font-family: sans-serif;
    font-size: 15px;
    color: rgb(44, 44, 44);
    margin: 20px 0 20px 0;
}



.content-quiz-2 button{
    font-family: sans-serif;
    
    color: rgb(255, 255, 255);
    background-color: rgb(250, 176, 49);
    box-sizing: border-box;
    outline: none;
    border: none;
    padding: 12px 60px 12px 60px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
}

.content-quiz-2 button:hover{
    color: rgb(43, 39, 146);
}


.box-quiz-3{
     background-color: rgb(255, 255, 255);
     width: 100%;
     height: 480px;
     background-image: url("/assets/images/lession2.jpg");
    background-size:contain;
   /*  background-position: center; */ /* Bạn có thể thay đổi giá trị này để canh chỉnh vị trí hình nền theo ý muốn */
    background-repeat: no-repeat;
    /* display: flex;
    align-items: center; */
    padding: 100px 100px 100px 0;
    margin-bottom:50px;
    font-family:'M PLUS Rounded 1c', sans-serif;
    
 
 }


 .content-quiz-3{
    width: 50%;
    height: 100%;
    background-color: rgba(127, 110, 255, 0);
    text-decoration: none;
    float: right;

}

.content-quiz-3 h2{
    color: black;
    font-size: 38px;
}


.content-quiz-3 p{
    font-family: sans-serif;
    font-size: 15px;
    color: rgb(44, 44, 44);
    margin: 20px 0 20px 0;
}



.content-quiz-3 button{
    font-family: sans-serif;
    
    color: rgb(255, 255, 255);
    background-color: rgb(250, 176, 49);
    box-sizing: border-box;
    outline: none;
    border: none;
    padding: 12px 60px 12px 60px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
}

.content-quiz-3 button:hover{
    color: rgb(43, 39, 146);
}


#box-banner-2{
    width: 100%;
    height: 200px;
  /*  background-color: aquamarine; */
   background-image: url("/assets/images/banner2.png");
   background-size:cover;
   background-position: center; /* Bạn có thể thay đổi giá trị này để canh chỉnh vị trí hình nền theo ý muốn */
   background-repeat: no-repeat;
}





.box-quiz-4{
    /*  background-color: coral; */
     width: 100%;
     height: 480px;
     background-image: url("/assets/images/lession1.jpg");
    background-size:contain;
    background-position: center; /* Bạn có thể thay đổi giá trị này để canh chỉnh vị trí hình nền theo ý muốn */
    background-repeat: no-repeat;
    display: flex; /* Sử dụng Flexbox */
    align-items: center;
    padding: 100px 0 100px 150px;
    font-family:'M PLUS Rounded 1c', sans-serif;
    
 
 }
 
 
 .content-quiz-4{
     width: 50%;
     height: 100%;
     background-color: rgba(127, 110, 255, 0);
     text-decoration: none;
 
 }
 
 .content-quiz-4 h2{
     color: black;
     font-size: 38px;
 }
 
 
 .content-quiz-4 p{
     font-family: sans-serif;
     font-size: 15px;
     color: rgb(44, 44, 44);
     margin: 20px 0 20px 0;
 }
 

 
 .content-quiz-4 button{
    font-family: sans-serif;
    color: rgb(255, 255, 255);
     background-color: rgb(250, 176, 49);
     box-sizing: border-box;
     outline: none;
     border: none;
     padding: 12px 60px 12px 60px;
     border-radius: 8px;
     cursor: pointer;
     font-size: 15px;
 }
 
 .content-quiz-4 button:hover{
     color: rgb(43, 39, 146);
 }
 
